# Section 1: Nested Lists & Access
Tasks:
1. Print Ravi’s second mark.
2. Calculate average mark for each student.
3. Print the name of students who scored above 80 in all subjects.
4. Create a new list of [name, average] .

In [1]:
# Given Data
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

# 1. Ravi’s second mark
print("Ravi's second mark:", students[0][1][1])

# 2. Average mark for each student
for name, marks in students:
    avg = sum(marks) / len(marks)
    print(f"{name}: {avg:.2f}")

# 3. Students with >80 in all subjects
print("Above 80 in all subjects:")
for name, marks in students:
    if all(m > 80 for m in marks):
        print(name)

# 4. New list [name, average]
avg_list = [[name, sum(marks) / len(marks)] for name, marks in students]
print("List of [name, average]:", avg_list)

Ravi's second mark: 72
Ravi: 82.33
Sneha: 91.67
Kabir: 65.00
Anita: 77.67
Above 80 in all subjects:
Sneha
List of [name, average]: [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

# Section 2: Dictionary of Lists

Tasks:
1. Create a list of dictionaries for each product:

  Example:
  {'name': 'Mobile', 'price': 12000, 'rating': 4.5}
2. Filter and print products with price > 20,000 and rating >= 4.5

3. Sort the product list by rating (descending)

In [3]:
# Given
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

# 1. List of dictionaries
product_list = [
    {"name": n, "price": p, "rating": r}
    for n, p, r in zip(data["products"], data["prices"], data["ratings"])
]
print("Product list:\n", product_list)

# 2. Filter: price > 20000 & rating >= 4.5
filtered_products = [p for p in product_list if p["price"] > 20000 and p["rating"] >= 4.5]
print("Filtered products:\n", filtered_products)

# 3. Sort by rating (desc)
sorted_products = sorted(product_list, key=lambda x: x["rating"], reverse=True)
print("Sorted by rating:\n", sorted_products)

Product list:
 [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]
Filtered products:
 [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]
Sorted by rating:
 [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

# Section 3: Frequency Dictionary + Set Operations
Tasks:
1. Count frequency of each word using a dictionary

2. Print only the words that appear more than once
3. Convert words into a set and print sorted unique words
4. Find common words between:
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}

In [4]:
# Given
text = "ai is the future and ai will change everything in the ai world"

# 1. Frequency dictionary
words = text.split()
freq = {}
for w in words:
    freq[w] = freq.get(w, 0) + 1
print("Word frequency:", freq)

# 2. Words with freq > 1
repeated_words = [w for w, c in freq.items() if c > 1]
print("Repeated words:", repeated_words)

# 3. Sorted unique words
unique_words = sorted(set(words))
print("Unique sorted words:", unique_words)

# 4. Common words between sets
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common = set1 & set2
print("Common words:", common)

Word frequency: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}
Repeated words: ['ai', 'the']
Unique sorted words: ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']
Common words: {'ai', 'future'}

# Section 4: Dictionary Comprehension + Conditional Logic
Tasks:
1. Create a new dictionary with 10% bonus added to each sale
2. Filter and return only those with sales >50,000
3. Label each person as 'High' , 'Medium' , or 'Low' based on:
  75,000: High
  40,000: Medium
  Else: Low

In [5]:
# Given
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

# 1. Add 10% bonus
bonus_sales = {name: amt * 1.10 for name, amt in sales.items()}
print("With bonus:", bonus_sales)

# 2. Filter sales > 50,000
high_sales = {name: amt for name, amt in sales.items() if amt > 50000}
print("Sales > 50K:", high_sales)

# 3. Label High / Medium / Low
labels = {}
for name, amt in sales.items():
    if amt >= 75000:
        labels[name] = "High"
    elif amt >= 40000:
        labels[name] = "Medium"
    else:
        labels[name] = "Low"
print("Labels:", labels)

With bonus: {'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}
Sales > 50K: {'Amit': 70000, 'Anita': 90000}
Labels: {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

# Section 5: Tuples, Sets, and Zipping
Tasks:
1. Convert both tuples to a dictionary using zip()
2. Find min and max marks
3. Create a set from marks and add a new value
4. Merge two sets and show only unique elements

In [6]:
# Given
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# 1. Zip to dictionary
marks_dict = dict(zip(names, marks))
print("Marks dict:", marks_dict)

# 2. Min & Max marks
print("Min mark:", min(marks))
print("Max mark:", max(marks))

# 3. Create set & add new value
marks_set = set(marks)
marks_set.add(95)
print("Marks set:", marks_set)

# 4. Merge sets
set_a = {88, 92, 76}
set_b = {90, 76, 95}
merged = set_a | set_b
print("Merged unique elements:", merged)

Marks dict: {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}
Min mark: 76
Max mark: 92
Marks set: {88, 92, 95, 76}
Merged unique elements: {88, 90, 92, 95, 76}

# Bonus Challenge
Tasks:
1. Add a new employee "E104"
2. Increase salary by 10% for Engineering department only
3. Find the department with the highest average salary

In [7]:
# Given
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

# 1. Add new employee
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 85000}

# 2. Increase salary by 10% for Engineering
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

# 3. Find dept with highest avg salary
dept_salaries = {}
for emp in employees.values():
    dept_salaries.setdefault(emp["dept"], []).append(emp["salary"])

avg_dept_salary = {dept: sum(sals) / len(sals) for dept, sals in dept_salaries.items()}
highest_dept = max(avg_dept_salary, key=avg_dept_salary.get)

print("Updated Employees:", employees)
print("Average Salaries:", avg_dept_salary)
print("Department with highest average salary:", highest_dept)

Updated Employees: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 93500.00000000001}}
Average Salaries: {'Sales': 50000.0, 'Engineering': 90750.0, 'HR': 45000.0}
Department with highest average salary: Engineering