In [0]:
data = [

    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)

]
 
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
 
df = spark.createDataFrame(data, columns)

df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [0]:
from pyspark.sql.functions import col

In [0]:
# 1. Show total number of employees
print("Total number of employees:", df.count())

# 2. Add a new column TotalSales (UnitsSold Ã— UnitPrice)
df = df.withColumn("TotalSales", col("UnitsSold") * col("UnitPrice"))
df.show()

# 3. Show only Sales department employees with TotalSales > 12,000
df_sales_high = df.filter((col("Department") == "Sales") & (col("TotalSales") > 12000))
df_sales_high.show()

# 4. Find the employee with the highest total sales
df_highest = df.orderBy(col("TotalSales").desc()).limit(1)
df_highest.show()

# 5. Sort employees by TotalSales in descending order
df_sorted = df.orderBy(col("TotalSales").desc())
df_sorted.show()

Total number of employees: 5
+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E101|  Amit|     Sales|       10|     1200|     12000|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+